<style>
  .col-md-3 {
    text-align: center;
    font-size: 30px;
  }
  #plus1, #minus1, #plus2, #minus2, #plus3, #minus3, #plus4, #minus4 {
    display: none;
  }
</style>
<button><a href="/orders">ORDERS SUMMARY</a></button>
<h1>ORDER HERE</h1>
<%= form_for @order do |form| %>
    <div class="form-group">
      <%= form.label :onigiri, class: "control-label col-sm-1" %>
    <hr style="clear: both;">
      <div class="col-xs-4 col-md-3">
      <label for="img1" style="height: 100%; width: 100%" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpXXggjvN_1vItyiWZKVjPqwnMUgTG1mw_vKqqhUfj8t2qg6aU"></label>
      <%= form.check_box :onigiri, {:multiple => true, :id => "img1"}, "cheese", nil %>&ensp;Cheesy Cheese<br>
      <a id="plus1">+</a>&emsp;<input type="hidden" name="qua0" id="qua0">&emsp;<a id="minus1">-</a>
      </div>
      <div class="col-xs-4 col-md-3">
      <label for="img2" style="height: 100%; width: 100%" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpXXggjvN_1vItyiWZKVjPqwnMUgTG1mw_vKqqhUfj8t2qg6aU"></label>
      <%= form.check_box :onigiri, {:multiple => true, :id => "img2"}, "kimchi", nil %>&ensp;Kimchi<br>
      <a id="plus2">+</a>&emsp;<input type="hidden" name="qua1" id="qua1">&emsp;<a id="minus2">-</a>
      </div>
      <div class="col-xs-4 col-md-3">
      <label for="img3" style="height: 100%; width: 100%" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpXXggjvN_1vItyiWZKVjPqwnMUgTG1mw_vKqqhUfj8t2qg6aU"></label>
      <%= form.check_box :onigiri, {:multiple => true, :id => "img3"}, "mayo tuna", nil %>&ensp;Mayo Tuna<br>
      <a id="plus3">+</a>&emsp;<input type="hidden" name="qua2" id="qua2">&emsp;<a id="minus3">-</a>
      </div>
      <div class="col-xs-4 col-md-3">
      <label for="img4" style="height: 100%; width: 100%" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpXXggjvN_1vItyiWZKVjPqwnMUgTG1mw_vKqqhUfj8t2qg6aU"></label>
      <%= form.check_box :onigiri, {:multiple => true, :id => "img4"}, "honey mustard", nil %>&ensp;Honey Mustard<br>
      <a id="plus4">+</a>&emsp;<input type="hidden" name="qua3" id="qua3">&emsp;<a id="minus4">-</a>
      </div>
    </div>
    <hr style="clear: both;">
    <div class="form-group">
      <%= form.submit class: "btn btn-lg" %>
    </div>
<% end %>
<div id="display"></div>
<div id="total">0</div>
<script>
  $(document).ready(function() {
    // first
    $('#img1').click(function() {
      if($('#img1').is(':checked')) {
      $('#display').append('<li class="a1">Cheesy Cheese</li>')
      $('#plus1').css('display', 'inline-block')
      $('#qua0').val('1')
      var total = parseFloat($('#total').text())
      amount = (total + 6.9).toFixed(2)
      $('#total').text(amount)
      }
      else {
        var num = parseInt($('#num1').text())
        $('.a1').remove()
        $('#plus1, #minus1').css('display', 'none')
        $('#qua0').val('')
        var total = parseFloat($('#total').text())
        if(num) {
          amount = (total - 6.9 * num).toFixed(2)
        }
        else {
          amount = (total - 6.9).toFixed(2)
        }
        $('#total').text(amount)
      }
    })
    $('#plus1').click(function() {
      $('#minus1').css('display', 'inline-block')
      var num = $('#num1').text()
      if(num == "") {
        num = 2
        $('.a1').append('&emsp;<i id="num1">' + num + '</i>')
      }
      else {
        num = parseInt($('#num1').text()) + 1
        $('#num1').text(num)
      }
      $('#qua0').val(num)
      var total = parseFloat($('#total').text())
      amount = (total + 6.9).toFixed(2)
      $('#total').text(amount)
    })
    $('#minus1').click(function() {
        num = parseInt($('#num1').text()) - 1
        if(num == 1) {
          $('#minus1').css('display', 'none')
        }
        $('#num1').text(num)
        $('#qua0').val(num)
        var total = parseFloat($('#total').text())
        amount = (total - 6.9).toFixed(2)
        $('#total').text(amount)
    })


    // second
    $('#img2').click(function() {
      if($('#img2').is(':checked')) {
      $('#display').append('<li class="a2">Kimchi</li>')
      $('#plus2').css('display', 'inline-block')
      $('#qua1').val('1')
      var total = parseFloat($('#total').text())
      amount = (total + 6.9).toFixed(2)
      $('#total').text(amount)
      }
      else {
        var num = parseInt($('#num2').text())
        $('.a2').remove()
        $('#plus2, #minus2').css('display', 'none')
        $('#qua1').val('')
        var total = parseFloat($('#total').text())
        if(num) {
          amount = (total - 6.9 * num).toFixed(2)
        }
        else {
          amount = (total - 6.9).toFixed(2)
        }
        $('#total').text(amount)
      }
    })
    $('#plus2').click(function() {
      $('#minus2').css('display', 'inline-block')
      var num = $('#num2').text()
      if(num == "") {
        num = 2
        $('.a2').append('&emsp;<i id="num2">' + num + '</i>')
      }
      else {
        num = parseInt($('#num2').text()) + 1
        $('#num2').text(num)
      }
      $('#qua1').val(num)
      var total = parseFloat($('#total').text())
      amount = (total + 6.9).toFixed(2)
      $('#total').text(amount)
    })
    $('#minus2').click(function() {
        num = parseInt($('#num2').text()) - 1
        if(num == 1) {
          $('#minus2').css('display', 'none')
        }
        $('#num2').text(num)
        $('#qua1').val(num)
        var total = parseFloat($('#total').text())
        amount = (total - 6.9).toFixed(2)
        $('#total').text(amount)
    })


    // third
    $('#img3').click(function() {
      if($('#img3').is(':checked')) {
      $('#display').append('<li class="a3">Mayo Tuna</li>')
      $('#plus3').css('display', 'inline-block')
      $('#qua2').val('1')
      var total = parseFloat($('#total').text())
      amount = (total + 7.9).toFixed(2)
      $('#total').text(amount)
      }
      else {
        var num = parseInt($('#num3').text())
        $('.a3').remove()
        $('#plus3, #minus3').css('display', 'none')
        $('#qua2').val('')
        var total = parseFloat($('#total').text())
        if(num) {
          amount = (total - 7.9 * num).toFixed(2)
        }
        else {
          amount = (total - 7.9).toFixed(2)
        }
        $('#total').text(amount)
      }
    })
    $('#plus3').click(function() {
      $('#minus3').css('display', 'inline-block')
      var num = $('#num3').text()
      if(num == "") {
        num = 2
        $('.a3').append('&emsp;<i id="num3">' + num + '</i>')
      }
      else {
        num = parseInt($('#num3').text()) + 1
        $('#num3').text(num)
      }
      $('#qua2').val(num)
      var total = parseFloat($('#total').text())
      amount = (total + 7.9).toFixed(2)
      $('#total').text(amount)
    })
    $('#minus3').click(function() {
        num = parseInt($('#num3').text()) - 1
        if(num == 1) {
          $('#minus3').css('display', 'none')
        }
        $('#num3').text(num)
        $('#qua2').val(num)
        var total = parseFloat($('#total').text())
        amount = (total - 7.9).toFixed(2)
        $('#total').text(amount)
    })


    // forth
    $('#img4').click(function() {
      if($('#img4').is(':checked')) {
      $('#display').append('<li class="a4">Honey Mustard</li>')
      $('#plus4').css('display', 'inline-block')
      $('#qua3').val('1')
      var total = parseFloat($('#total').text())
      amount = (total + 7.9).toFixed(2)
      $('#total').text(amount)
      }
      else {
        var num = parseInt($('#num4').text())
        $('.a4').remove()
        $('#plus4, #minus4').css('display', 'none')
        $('#qua3').val('')
        var total = parseFloat($('#total').text())
        if(num) {
          amount = (total - 7.9 * num).toFixed(2)
        }
        else {
          amount = (total - 7.9).toFixed(2)
        }
        $('#total').text(amount)
      }
    })
    $('#plus4').click(function() {
      $('#minus4').css('display', 'inline-block')
      var num = $('#num4').text()
      if(num == "") {
        num = 2
        $('.a4').append('&emsp;<i id="num4">' + num + '</i>')
      }
      else {
        num = parseInt($('#num4').text()) + 1
        $('#num4').text(num)
      }
      $('#qua3').val(num)
        var total = parseFloat($('#total').text())
        amount = (total + 7.9).toFixed(2)
        $('#total').text(amount)
    })
    $('#minus4').click(function() {
        num = parseInt($('#num4').text()) - 1
        if(num == 1) {
          $('#minus4').css('display', 'none')
        }
        $('#num4').text(num)
        $('#qua3').val(num)
        var total = parseFloat($('#total').text())
        amount = (total - 7.9).toFixed(2)
        $('#total').text(amount)
    })
  })
</script>